<!DOCTYPE html>
<html>
<head>
    <title>Passport with Sequelize</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
</body>
</html>