#loginBody {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6;
  color: #252a32;
  background: rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Roboto", sans-serif;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

a {
  margin-top: 100%;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0e2a47;
  overflow: hidden;
}
.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 15;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #0a2a47;
  top: 82%;
  left: 98%;
  animation-duration: 60s;
  animation-delay: -237s;
  transform-origin: -5vw -18vh;
  box-shadow: 40vmin 0 5.056549107282508vmin currentColor;
}
.background span:nth-child(1) {
  color: #184a7e;
  top: 99%;
  left: 71%;
  animation-duration: 353s;
  animation-delay: -75s;
  transform-origin: -12vw 11vh;
  box-shadow: -40vmin 0 5.70825805964366vmin currentColor;
}
.background span:nth-child(2) {
  color: #2264ab;
  top: 10%;
  left: 23%;
  animation-duration: 216s;
  animation-delay: -286s;
  transform-origin: -7vw 1vh;
  box-shadow: -40vmin 0 5.949468512755114vmin currentColor;
}
.background span:nth-child(3) {
  color: #2264ab;
  top: 37%;
  left: 20%;
  animation-duration: 84s;
  animation-delay: -144s;
  transform-origin: 1vw 10vh;
  box-shadow: 40vmin 0 5.887452700905618vmin currentColor;
}
.background span:nth-child(4) {
  color: #184a7e;
  top: 52%;
  left: 62%;
  animation-duration: 181s;
  animation-delay: -175s;
  transform-origin: -24vw 25vh;
  box-shadow: -40vmin 0 5.229719492656437vmin currentColor;
}
.background span:nth-child(5) {
  color: #184a7e;
  top: 99%;
  left: 17%;
  animation-duration: 165s;
  animation-delay: -342s;
  transform-origin: 15vw 4vh;
  box-shadow: 40vmin 0 5.240007457086014vmin currentColor;
}
.background span:nth-child(6) {
  color: #184a7e;
  top: 81%;
  left: 41%;
  animation-duration: 80s;
  animation-delay: -163s;
  transform-origin: -3vw -3vh;
  box-shadow: -40vmin 0 5.0893715724891475vmin currentColor;
}
.background span:nth-child(7) {
  color: #2264ab;
  top: 78%;
  left: 54%;
  animation-duration: 342s;
  animation-delay: -167s;
  transform-origin: -20vw -24vh;
  box-shadow: -40vmin 0 5.98800943840404vmin currentColor;
}
.background span:nth-child(8) {
  color: #2264ab;
  top: 20%;
  left: 39%;
  animation-duration: 219s;
  animation-delay: -286s;
  transform-origin: 11vw -3vh;
  box-shadow: -40vmin 0 5.55264214688277vmin currentColor;
}
.background span:nth-child(9) {
  color: #2264ab;
  top: 70%;
  left: 91%;
  animation-duration: 21s;
  animation-delay: -182s;
  transform-origin: 0vw -8vh;
  box-shadow: 40vmin 0 5.7994952080125435vmin currentColor;
}
.background span:nth-child(10) {
  color: #2264ab;
  top: 35%;
  left: 21%;
  animation-duration: 279s;
  animation-delay: -264s;
  transform-origin: 22vw -18vh;
  box-shadow: -40vmin 0 5.073410494984186vmin currentColor;
}
.background span:nth-child(11) {
  color: #184a7e;
  top: 42%;
  left: 25%;
  animation-duration: 35s;
  animation-delay: -71s;
  transform-origin: -2vw -18vh;
  box-shadow: 40vmin 0 5.645768041025899vmin currentColor;
}
.background span:nth-child(12) {
  color: #2264ab;
  top: 15%;
  left: 59%;
  animation-duration: 229s;
  animation-delay: -75s;
  transform-origin: 5vw -9vh;
  box-shadow: 40vmin 0 5.424775588715105vmin currentColor;
}
.background span:nth-child(13) {
  color: #0a2a47;
  top: 65%;
  left: 77%;
  animation-duration: 219s;
  animation-delay: -104s;
  transform-origin: 19vw 21vh;
  box-shadow: 40vmin 0 5.614179451442051vmin currentColor;
}
.background span:nth-child(14) {
  color: #0a2a47;
  top: 50%;
  left: 3%;
  animation-duration: 10s;
  animation-delay: -46s;
  transform-origin: 9vw -8vh;
  box-shadow: 40vmin 0 5.265277236469643vmin currentColor;
}
.background span:nth-child(15) {
  color: #2264ab;
  top: 53%;
  left: 14%;
  animation-duration: 246s;
  animation-delay: -197s;
  transform-origin: -5vw -21vh;
  box-shadow: -40vmin 0 5.363647482145704vmin currentColor;
}
.background span:nth-child(16) {
  color: #2264ab;
  top: 32%;
  left: 29%;
  animation-duration: 180s;
  animation-delay: -45s;
  transform-origin: -11vw -17vh;
  box-shadow: -40vmin 0 5.555605635397712vmin currentColor;
}
.background span:nth-child(17) {
  color: #2264ab;
  top: 1%;
  left: 35%;
  animation-duration: 242s;
  animation-delay: -346s;
  transform-origin: -10vw 1vh;
  box-shadow: 40vmin 0 5.518711244827803vmin currentColor;
}
.background span:nth-child(18) {
  color: #184a7e;
  top: 60%;
  left: 85%;
  animation-duration: 157s;
  animation-delay: -178s;
  transform-origin: -23vw 10vh;
  box-shadow: 40vmin 0 5.574010159973799vmin currentColor;
}
.background span:nth-child(19) {
  color: #184a7e;
  top: 39%;
  left: 21%;
  animation-duration: 241s;
  animation-delay: -286s;
  transform-origin: 3vw -7vh;
  box-shadow: 40vmin 0 5.3421148007885vmin currentColor;
}
.background span:nth-child(20) {
  color: #0a2a47;
  top: 24%;
  left: 96%;
  animation-duration: 304s;
  animation-delay: -189s;
  transform-origin: 18vw 7vh;
  box-shadow: 40vmin 0 5.597944238166843vmin currentColor;
}
.background span:nth-child(21) {
  color: #184a7e;
  top: 4%;
  left: 91%;
  animation-duration: 151s;
  animation-delay: -5s;
  transform-origin: -13vw -2vh;
  box-shadow: 40vmin 0 5.074720424684316vmin currentColor;
}
.background span:nth-child(22) {
  color: #2264ab;
  top: 68%;
  left: 57%;
  animation-duration: 208s;
  animation-delay: -61s;
  transform-origin: -21vw 17vh;
  box-shadow: 40vmin 0 5.971382169071422vmin currentColor;
}
.background span:nth-child(23) {
  color: #0a2a47;
  top: 99%;
  left: 50%;
  animation-duration: 191s;
  animation-delay: -10s;
  transform-origin: -6vw -15vh;
  box-shadow: 40vmin 0 5.859631619453758vmin currentColor;
}
.background span:nth-child(24) {
  color: #184a7e;
  top: 75%;
  left: 33%;
  animation-duration: 252s;
  animation-delay: -168s;
  transform-origin: 10vw -22vh;
  box-shadow: 40vmin 0 5.938422359797382vmin currentColor;
}
.background span:nth-child(25) {
  color: #0a2a47;
  top: 27%;
  left: 11%;
  animation-duration: 304s;
  animation-delay: -154s;
  transform-origin: 7vw 4vh;
  box-shadow: -40vmin 0 5.895697943021878vmin currentColor;
}
.background span:nth-child(26) {
  color: #0a2a47;
  top: 98%;
  left: 20%;
  animation-duration: 241s;
  animation-delay: -2s;
  transform-origin: 23vw 2vh;
  box-shadow: -40vmin 0 5.8581058588123724vmin currentColor;
}
.background span:nth-child(27) {
  color: #0a2a47;
  top: 52%;
  left: 62%;
  animation-duration: 18s;
  animation-delay: -252s;
  transform-origin: 23vw -16vh;
  box-shadow: -40vmin 0 5.01093433686785vmin currentColor;
}
.background span:nth-child(28) {
  color: #184a7e;
  top: 76%;
  left: 14%;
  animation-duration: 68s;
  animation-delay: -231s;
  transform-origin: -8vw 17vh;
  box-shadow: 40vmin 0 5.9423032341241315vmin currentColor;
}
.background span:nth-child(29) {
  color: #184a7e;
  top: 96%;
  left: 6%;
  animation-duration: 18s;
  animation-delay: -223s;
  transform-origin: 5vw -9vh;
  box-shadow: -40vmin 0 5.623051676755509vmin currentColor;
}

.form-outline,
#loginDesc {
  color: rgb(197, 197, 197);
  font-size: 12pt;
}

#loginTitle {
  color: white;
}

.optionbox select {
  background: #185fe2;
  color: #fff;
  padding: 5px;
  width: 150px;
  height: 35px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}

.optionbox:hover:before {
  background: #c72059;
}

footer {
  color: white;
}

#cardlogin {
  background-color: rgba(34, 34, 34, 0.75) !important;
}

#courseTitle {
  color: black;
}

h4,
h5 {
  color: white;
  text-shadow: 1.5px 1.5px 4px black;
}

#courseHeader {
  background-color: white;
  border-bottom: 5px solid gray;
  box-shadow: 0px 0px 10px black;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#courseCard {
  border: 0;
}

#courseCardBody {
  background-image: linear-gradient(white, white);
}

#courseModalLabel {
  color: black;
  text-shadow: 0px 0px 0px transparent;
}

#courseCard:hover {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
  box-shadow: 0px 15px 20px -3px black !important;
}

.album {
  display: flex;
}

#courseBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #26394e;
}

#assignments,
#studentNames,
#rosterCourse {
  color: black;
  background-color: white;
}

#menu {
  height: 100%;
  background-color: #184a7e;
  width: 200px;
  transform: translateX(-100%);
  left: 50px;
  position: fixed;
  z-index: 9;
}

#menu:hover {
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-30%);
}

.menu-inner {
  width: 100%;
  height: 100%;
  position: relative;
}


.hamburger {
  right: 17px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 30px;
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}

.hamburger .line:nth-child(3) {
  bottom: 0;
}

h1 {
  position: fixed;
  right: 0;
  margin: 0;
}

.menu-list {
  padding: 0;
  list-style: none;
  width: 50%;
  margin-left: 20%;
  position: absolute;
  top: 20px;
}

.menu-list,
.menu-item {
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 15px;
  
}

#sidebarItem {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  
}

#sidebarItem:hover {
  color: rgba(134, 143, 147, 0.675);
}

#sidebarlistItem {
  border-bottom: 3px solid white;
  text-align: center;
}

.assignment-item {
  border-radius: 0;
}

.assignment-item:hover {
  transform: scale(1.01);
  transition: transform 300ms ease-in-out;
  box-shadow: 0px 7.5px 10px -3px black !important;
}

.submit-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}


#file {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0069d9;
}


.file-upload-form {
  color: white;
  font-size: 20pt;
}

.create-assignment {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font-size: 32px;
  color: white;
}

#createLabel {
  color: white;
  font-size: 15pt;
  text-shadow: 2px 2px 5px black;
}

.assignment-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.assignment-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.assignment-item h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.assignment-item p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4;
}

.due-date {
  font-weight: bold;
}

.sidebar {
  background: #184a7e;
  color: #fff;
  height: 100vh;
  width: 8.3vw;
  position: fixed;
}
.sidebarContainer {
  display: flex;
}
.sidebarIcon {
  font-size: 4vw;
  margin-bottom: 1vh;
  margin-top: -1vh;
  text-align: center;
}
.sidebarIcon.open {
  transform: rotate(180deg);
}
.sidebarMain {
  position: fixed;
  display: flex;
}
.sidebarLink {
  color: #fff;
  transition: 0.3s;
}
.sidebarLink:hover, .sidebarLink:active {
  color: rgb(51, 86, 138);
  transition: all 0.3;
}

.homeSidebar {
  background: #184a7e;
  color: #fff;
  height: 10vh;
  margin-top: 1.5vh;
  position: fixed;
  border-radius: 15px;
}
.homeContainer {
  display: flex;
}
.homeLink{
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}
.homeLink:hover, .homeLink:active {
  color: rgb(51, 86, 138);
  transition: all 0.3s;
}
.homeLink_text{
  font-family: sans-serif;
  align-self: left;
  font-size: 1.2vw;
}

.PCSidebar {
  background: #184a7e;
  color: #fff;
  height: 13vh;
  margin-top: 42.2vh;
  position: fixed;
  border-radius: 15px;
}
.PCContainer {
  display: flex;
}
.PCLink{
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}
.PCLink:hover, .PCLink:active {
  color: rgb(51, 86, 138);
  transition: all 0.3s;
}
.PCLink_text{
  font-family: sans-serif;
  align-self: left;
  font-size: 1.2vw;
}
.MRLabels {
  margin-right: 5vw;
  margin-bottom: 3vh;
}
/* alertStyles.css */
.alertStyles {
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: #2ECC71;
    color: #186A3B;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
    max-width: 90%;
    overflow: hidden;
    animation: fadeInOutFromRight 5s ease-in-out;
  }
  
  @keyframes fadeInOutFromRight {
      0%, 100% {
          opacity: 0;
          transform: translateX(100%); /* Start and end off the right edge */
      }
      10%, 90% {
          opacity: 1;
          transform: translateX(0); /* Stay in original position */
      }
  }

.tableContainer {
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%; /* Adjust based on your layout needs */
}
.table {
  min-width: 600px; /* Adjust this value based on the actual width needed for your table */
  width: 100%; /* Ensures the table stretches to fill the container */
  border-collapse: collapse; /* Improves appearance by removing space between borders */
}



/* PatientDash.module.css */
.scrollableTable {
  max-height: 500px; /* Adjust based on your needs */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  width: 100%; /* Ensure the container takes full width */
}

.boldOption {
  font-weight: bold;
}

.inverted-table {
  transform: scaleY(-1); /* Flips the table back to normal */
}

.dropdownActive {
  background-color: #e3e3e3; /* Or any other color that indicates activity */
}

/* Rotate the icon when active */
.condenseIconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}


.notes-container {
  max-width: 100%; /* Ensures the container does not overflow its parent */
  padding: 20px; /* Optional, for some spacing around */
  margin: 0 auto; /* Centers the container */
  background: #f0f0f0;
}

.notes-title {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
  gap: 20px; /* Spacing between cards */
  margin-bottom: 20px; /* Space below the grid */
}

@media (max-width: 1200px) { /* Adjust this value as needed */
  .notes-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

@media (max-width: 768px) { /* Adjust this value as needed */
  .notes-grid {
    grid-template-columns: 1fr; /* One column on even smaller screens */
  }
}

.note-card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden; /* Hide overflow */
  display: flex; /* Stack children */
  flex-direction: column; /* Stack vertically */
  height: 300px; /* Fixed height for the card */
}

.note-content {
  flex: 1; /* Takes up all available space not used by other children */
  overflow-y: auto; /* Make this part scrollable */
  padding-right: 10px; /* Give space for scrollbar */
}

.note-footer {
  margin-top: 10px;
  text-align: right;
}

.delete-btn {
  border: none;
  background: #dc3545; /* Bootstrap danger color */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background: #c82333; /* A slightly darker shade for hover effect */
}

textarea {
  resize: vertical; /* Allows vertical resizing only */
  max-width: 100%; /* Prevents the textarea from exceeding the width of its container */
}



.form {
  display: flex;
  flex-wrap: wrap; /* Allows form content to wrap onto the next line */
  justify-content: space-around; /* Distributes space around items evenly */
  align-items: center; /* Align items vertically in the center */
  gap: 20px; /* Spacing between each form item */
}

.formGroup {
  display: flex;
  flex-direction: column; /* Stack label on top of input */
  align-items: flex-start; /* Align items to start within the group */
  flex-grow: 1; /* Each group should grow equally */
  min-width: 180px; /* Minimum width of each group to avoid too much squish */
}

.formInput {
  width: 100%; /* Full width of the group to utilize space */
  margin-top: 5px; /* Space between label and input */
}

.formButton {
  width: auto; /* Auto-width based on content inside */
  padding: 10px 20px; /* Padding inside button */
  margin-top: 10px; /* Margin above the button */
  align-self: flex-start; /* Align button at the start of the flex container */
}


.delete {
  background-color: red;
}

.label {
  display: block; /* ensures the label is above the input field */
}

.cumulativeTotalRow {
  background-color: red; /* Set the background color to differentiate */
}
